{% load leaflet_tags %}

<meta charset="utf-8" />
<meta name="viewport" content="minimum-scale=1.0, width=device-width" />

<!-- Standard Meta Tags -->
<meta property="og:type" content="article" />
<meta property="og:site_name" content="{{ site_name }}"/>
<meta property="og:locale" content="en_US" />

<!-- Standard Favicon Tags -->
<link rel="shortcut icon" href="{{ STATIC_URL }}favicon.ico">
<!-- <link rel="apple-touch-icon" href="{{ STATIC_URL }}apple-touch-icon.png"> -->

<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/normalize.css" />
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/foundation.css" />

{% leaflet_css %}

<link rel="stylesheet" type="text/css" media="screen, projection" href="{{ STATIC_URL }}css/style.css?v=1" />

<!-- Standard HTML Tags -->
<title>Data Viz Demo</title>